# Fichiers système Mac
.DS_Store

# Python & Cache
__pycache__/
*.pyc

# Environnements virtuels (Poetry / Venv)
.venv/
env/
venv/

# IDE
.vscode/
.idea/
pyproject.toml
poetry.lock

# Fichiers volumineux (optionnel, si tu as des vidéos ou des tiffs énormes)
*.tiff
data/images_highres
data/randolph_glacier_inventory_7_init/
draft/*.zip
*.jpg